<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paint</title>
    <style>
        #drawing{
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>
    <div id="menu"></div>
    <canvas id="drawing" width="1024", height="660">你的浏览器不支持Canvas</canvas>
    <script src="../model/dom.js"></script>
    <script src="view.js"></script>
    <script src="../controller/path.js"></script>
    <script src="../controller/freepath.js"></script>
    <script src="../controller/rect.js"></script>
    <script src="../controller/select.js"></script>
    <script src="../controller/menu.js"></script>
</body>
</html>
